.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.linCode{
  padding: 10px;
  font-weight: bold;
  background-color: #eeeeee;
}

p{
  margin-bottom: 2%;
}

.screenshots{
  width: 300px;
  height: 130px;
}

.imgCard{
  width: 100px;
  height: 200px;
}
