#imgCarousel{
    height: 500px;
}

.carousel-inner{
    width: 300px;
}

#divCarousel{
    width: 300px;
    margin:0 auto ;
    margin-top: 10%;
    text-align: center;
}

.titleDiv{
    font-size: 40px;
    text-align: center;
}

.first{
    margin-top: 5%;
}

body{
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#carouselBg{
    margin-top: 15%;
    margin-bottom: 50%;
}


.cardInfo{
    background-color: inherit;
    margin-top: 30px;
}

.info{
    margin-top: 50px;
    font-size: 20px;
    background-color: inherit;
}

.card-title{
    font-size: 25px;
}

#main{
    animation-name: contrair;
    animation-duration: 0.2s;
}

@keyframes contrair{
    0%{
        margin-top: 44%;
    }
    
    40%{
        margin-top: 28%;
    }
    
    80%{
        margin-top: 12%;
    }
    
}

.twetts{
    margin-top: 5%;
    margin-bottom: 10%;
}



main{
    flex: 1 0 auto;
}

.progress{
    position:relative;
    height:4px;
    display:block;
    width:100%;
    background-color:#f3908c;
    border-radius:2px;
    margin:.5rem 0 1rem 0;
    overflow:hidden
}
.progress .determinate{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    background-color:#26a69a;
    -webkit-transition:width .3s linear;
    transition:width .3s linear
}
.progress .indeterminate{
    background-color:#ee716d;
}
.progress .indeterminate:before{
    content:'';
    position:absolute;
    background-color:inherit;
    top:0;
    left:0;
    bottom:0;
    will-change:left, right;
    -webkit-animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}
.progress .indeterminate:after{
    content:'';
    position:absolute;
    background-color:inherit;
    top:0;
    left:0;
    bottom:0;
    will-change:left, right;
    -webkit-animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay:1.15s;
    animation-delay:1.15s
}

@-webkit-keyframes indeterminate{
    0%{
        left:-35%;
        right:100%
    }
    
    60%{
        left:100%;
        right:-90%
    }
    
    100%{
        left:100%;
        right:-90%
    }
}

@keyframes indeterminate{
    0%{
        left:-35%;
        right:100%
    }
    
    60%{
        left:100%;
        right:-90%
    }
    
    100%{
        left:100%;
        right:-90%
    }
}

@-webkit-keyframes indeterminate-short{
    0%{
        left:-200%;
        right:100%
    }
    
    60%{
        left:107%;
        right:-8%
    }
    
    100%{
        left:107%;
        right:-8%
    }
}

@keyframes indeterminate-short{
    0%{
        left:-200%;
        right:100%
    }
    
    60%{
        left:107%;
        right:-8%
    }
    
    100%{
        left:107%;
        right:-8%
    }
}

.divInicial{
    margin-top: 10%;
}

.textDiv{
    margin-top: 55px !important;
}

.cardMain{
    font-size: 100px;
    margin-top: 55px !important;
}

.iconReview{
    font-size: 25px;
}

.fooTwett{
    text-align: center;
    margin-bottom: 5px;
}

.data{
    font-size: 12px;
    margin-right: 55px;
}


.divAlert{
    
    margin-top: 7%;
    height: 600px;
}

.cardAlert{
    margin-top: 10%;
    background-color: inherit;
    font-size: 25px;
    
}

.alert-link{
    text-decoration: none !important;
}

.textInvalidName{
    font-size: 30px !important;
}

#loader{
    margin-top: 7%;
    width: 60%;
    margin-left: 20%;
    height: 9px;
}








