<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ULTRON</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    
</head>
<body>
    <main>
        
        <nav class="navbar bg-danger align-content-center justify-content-center">
            <div class="container text-center">
                <a class="navbar-brand text-white align-content-sm-center" href="{{ url_for('index') }}">Ultron</a>
                
                <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search')}}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Hero name" aria-label="Search" id="input" name="name" value="{{query}}">
                    <button class="btn btn-primary my-2 my-sm-0 align-content-sm-center" id="btn">Search</button>
                </form>
            </div>
        </nav>


        
        
        
        <div class="container mainSection" id="main">
                {% if status == 201 %}
                   
                    
                    <div class="row info divInicial">
                        <div class="col-lg-5 col-sm-12">
                            <img class="rounded-circle" src="{{ url_for ('static',filename='images/ultron.png') }}" style="width: 80%;">
                        </div>
                        
                        <div class="col-lg-7 col-sm-12">
                            <div class="card border-0 cardInfo"> 
                                <div class="card-body">
                                    <p class="card-text textDiv pt-5">Hi, human. My name is Ultron and I came to this planet with only one goal: to conquer it. Because of this, heroes
                                        have declared war on me and I need information to defeat them. You can help me with this, search for a Marvel hero who knows and will be helping me to build my reign!
                                    </p>
                                    
                                    <!--
                                    <p class="alert alert-success" role="alert">
                                        {{ 10 }} hero(es) already registered.
                                    </p>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="progress invisible align-content-center" id="loader">
                                <div class="indeterminate bg-danger rounded"></div>
                        </div>
                    </div>
                {% endif %}

                {% if status == 200 %}
                    <h5 class="titleDiv first">- Info Hero -</h5>
                    <div class="row info">
                        <div class="col-lg-5 col-sm-12">
                            <img class="rounded-circle" src="{{ hero.img_url }}" style="width: 80%;">
                        </div>
                        
                        <div class="col-lg-7 col-sm-12">
                            <div class="card border-0 cardInfo"> 
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{ hero.nome }}</h5>

                                    {% if hero.descricao == "" %}
                                        <p class="card-text">
                                            <br>
                                            We can not find information about this hero. He was faster and
                                             was able to hide his information before we searched for them. 
                                             But, no problem, because fate always arrives...</p>
                                    {% else %}
                                        <p class="card-text">{{ hero.descricao }}</p>
                                        
                                        <footer class="blockquote-footer">
                                            <small>
                                                <a href="http://marvel.com">Data provided by Marvel. © 2018 MARVEL</a>
                                            </small>
                                        </footer>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                    <div id="divCarousel">
                        <h5 class="titleDiv">- Comics -</h5>
                        
                        <div id="carouselBg">
                            <div id="carouselExample" class="carousel slide carousel-fade center">
                                <div class="carousel-inner">
                                    {% for figure in hero.comics %}
                                    
                                    <div class="carousel-item {{figure.active}}">
                                        <img id="imgCarousel" class="d-block w-100" src="{{ figure.url_capa }}">
                                    </div>
                                    
                                    {% endfor %}
                                    
                                    
                                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    
                                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <h5 class="titleDiv">- Twitter Mentions Analysis -</h5>
                    
                    <div class="card-columns twetts">
                        {% for tt in t.twetts %}

                        {% if tt.nota > 0.05 %}
                        <div class="{{ tt.cardClass }} text-white bg-success">
                        {% else %}
                            {% if tt.nota > -0.05 %}
                            <div class="{{ tt.cardClass }} text-black bg-light">
                            {% else %}
                            <div class="{{ tt.cardClass }} text-white bg-danger">
                            {% endif %}
                        {% endif %}

                                <div class="card-body">
                                    
                                    <h5 class="card-title"><img class="rounded-circle mr-3" style="width: 50px;height: 50px;" src="{{tt.url_foto_perfil}}" /> {{ tt.username }} (@{{ tt.nickname }})</h5>
                                    <p class="card-text"><cite>{{ tt.conteudo }}</cite></p>
                                    
                                </div>
                                
                                <footer class="fooTwett">
                                    <span class="data"><cite>{{ tt.data }}</cite></span>
                                    {% if tt.nota > 0.05 %}
                                    <i class="far fa-thumbs-up iconReview"></i> Positive comment 
                                    {% else %}
                                        {% if tt.nota > -0.05 %}
                                        <i class="fas fa-fist-raised iconReview"></i> Neutral comment 
                                        {% else %}
                                        <i class="far fa-thumbs-down iconReview"></i> Negative comment 
                                        {% endif %}
                                    {% endif %}
                                </footer>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}


                {% if status == 404%}
                    <div class="alert alert-danger divAlert" role="alert">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card border-0 cardAlert"> 
                                    <div class="card-body">
                                        <h5 class="card-title textInvalidName">Invalid name!</h5>
                                        <p class="card-text">The given name is not valid or is not a Marvel hero name.
                                                
                                                Provide a valid name.
                                                <br><br><br>
                                                
                                                
                                                Examples:
                                                <br>
                                                <a class="alert-link" href="{{ url_for('search', name='Captain America')}}">Captain America</a><br>
                                                <a class="alert-link" href="{{ url_for('search', name='Iron Man')}}">Iron Man</a><br>
                                                <a class="alert-link" href="{{ url_for('search', name='Spider-Man')}}">Spider-Man</a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                
            </main>
            
            <footer class="bg-primary text-center" style="height: 100%;margin-bottom: 0;">
                <br>
                <p class="text-light">Made by José de Melo & Tarlles Roman
                    <br><a href="https://github.com/jose-de-melo/webservices-tp1-ultron"><i class="fab fa-github text-white" style="font-size: 30px"></i></a>
                    <br>© 2018 <a class="text-white" href="https://jose-de-melo.github.io/ultron/" style="text-decoration: none;">Ultron</a></p>
                </footer>
                
                <script src="{{ url_for ('static',filename='js/jquery-3.3.1.min.js') }}"></script>
                <script src="{{ url_for ('static',filename='js/bootstrap.min.js') }}"></script>
                <script src="{{ url_for ('static',filename='js/app.js') }}"></script>
            </body>
            </html>
